* {
  box-sizing: border-box;
  font-family: Inter, system-ui, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #0f0f0f;
  color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Card container */
.auth-card {
  background: #131313;
  padding: 30px 25px;
  border-radius: 15px;
  width: 320px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

.auth-card h1 {
  text-align: center;
  color: #d4a254;
  margin-bottom: 25px;
  font-size: 1.8rem;
}

.auth-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.auth-group label {
  margin-bottom: 5px;
  font-size: 0.85rem;
  color: #eaeaea;
}

.auth-group input {
  padding: 10px 12px;
  border: none;
  border-radius: 8px;
  background: #1a1a1a;
  color: #fff;
  font-size: 0.95rem;
}

.auth-group input::placeholder {
  color: #888;
}

.auth-btn {
  width: 100%;
  padding: 12px 0;
  border: none;
  border-radius: 10px;
  background: #d4a254;
  color: #0f0f0f;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.25s;
}

.auth-btn:hover {
  background: #b58a3e;
}

.auth-footer {
  text-align: center;
  margin-top: 15px;
  font-size: 0.85rem;
  color: #aaa;
}

.auth-footer a {
  color: #d4a254;
  text-decoration: none;
}
.auth-footer a:hover {
  text-decoration: underline;
}












.google-btn {
  background: white;
  color: #000;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
}

.google-btn:hover {
  background: #f5f5f5;
}

.google-icon {
  width: 20px;
  height: 20px;
}
